#hi{
background-image:url("https://thumbs.dreamstime.com/b/texture-du-bois-de-shabby-salissage-en-surface-bureau-couleur-naturelle-d-%C3%A9tain-fond-anciennes-planches-brun-158067569.jpg");
display:flex;
flex-direction: row;
justify-content: space-evenly;
color:white;
}
/* #ng{
    margin-left:200px;
    color:white;
    font-size:20px;
    margin-top: -400px;
} */
#padding{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
}
