#hi{
background-colo:red;
display:flex;
flex-direction: row;
justify-content: space-evenly;
color:white;
}
/* #ng{
    margin-left:200px;
    color:white;
    font-size:20px;
    margin-top: -400px;
} */
#padding{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
}
