#hi{
background-image:url("https://www.incimages.com/uploaded_files/image/1024x576/westworld-2-hbo-background-1920_419617.jpg);
display:flex;
flex-direction: row;
justify-content: space-evenly;
color:white;
}
/* #ng{
    margin-left:200px;
    color:white;
    font-size:20px;
    margin-top: -400px;
} */
#padding{
   display:flex;
   flex-direction: row;
   justify-content: space-evenly;
}
